.switcher {
    width: 60px;
    height: 30px;
    border-radius: 30px;
    background: linear-gradient(90deg, #ffffff, #e2e2e2);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    transition: background 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
  }

  .circle{
    background-color: #FFB627;
    display: flex;
    height: 35px;
    width: 35px;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    position: absolute;
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    left: -5px;
    font-size: 25px;
    color: white;
    box-shadow: 0px 6px 15px #FFC72780;
  }
  
  .switcher.on .circle {
    transform: translateX(100%);
    background-color: #FF868D;
    box-shadow: 0px 6px 15px #FF868D80;
}
  